<!doctype html>
<head>
	<script src="/js/jquery-2.2.3.min.js"></script>
</head>
<body>
	<div id="react-container">

	</div>
	<!-- placing script at the bottom of body to ensure that dom loads before script modifies dom -->
	<script src="/js/all.js"></script>
</body>
